a {
	color: #555;
}
a:hover {
	color: #0080DD;
}
div.menu.horizontal {
	margin-top: 75px;
}
div.menu.horizontal li {
	float: left;
	margin: 0 0 1px 1px;
}
div.menu.horizontal a {
	width: 189px;
}
body.no_sidebar {
	background: #999 url(img/bg_nosidebar.gif) repeat-y;
}
body.no_sidebar .top {
	display: block;
}
body.no_sidebar .header {
	background: #444;
	height: 101px;
	width: 939px;
	padding-top: 0px;
}
body.no_sidebar div.content_left {
	width: 937px;
}
body.no_sidebar div.content_right {
	display: none;
}
body.no_sidebar div.footer {
	width: 925px;
}
.top h1 span {
	padding-left: 1em;
}
div.content_left h1 {
	padding: 10px 4px;
}
div.links .project .title {
	background: #335987 url(img/bgsubtitle_blue.gif) repeat-x;
}
div.links .project a {
	background: url(img/bg_navitem_blue.gif) repeat-x #FFF;
	color: #333355;
}
div.links .project a {
	font-style: italic;
}
div.links a img {
	border: 0px;
	vertical-align: top;
}
code {
	border-left: 4px solid #36C;
	clear: both;
	color: #555;
	display: block;
	margin: 12px 0 12px 16px;
	padding-left: 12px;
	white-space: pre;
	overflow: auto;
}
div.newsitem .title {
	padding: 10px 4px;
}
div.newsitem .author {
	font: italic 0.9em Tahoma,sans-serif;
	padding: 3px 10px;
}
dt {
	font-weight: bold;
}

/* Forms */
form {
	text-align: center;
}
form fieldset {
	border: none;
}
form dt {
	float: left;
	text-align: right;
	width: 28%;
	clear: left;
}
form dd {
	text-align: left;
	margin-bottom: .5em;
	margin-left: 30%;
	min-height: 1em;
	width: 70%;
}
dd input[type="text"], dd input[type="password"], dd select {
	width: 70%;
}
form input[type="submit"], form input[type="button"] {
	width: 30%;
}
input, select, textarea {
	padding: 2px;
}
textarea {
	width: 95%;
}
form li {
	list-style-image: none;
}

